@charset "UTF-8";
/* CSS Document */

/*Body*/
body {
	/*Font Amatic SC: https://fonts.google.com/specimen/Amatic+SC?category=Handwriting*/
	font-family: 'Amatic SC', cursive;
	font-weight: 900;
	letter-spacing: 0.2em;
	margin: 0;
	height: 90vh;
	width: 100%;
}
                                                
/*Nav*/
#nav-div {
	text-align: center;
}

.nav-title {
	font-size: 3em;
	margin: 30px 0 0 0;
	letter-spacing: 0.3em;
}

.nav-items {
	list-style-type: none;
	display: inline-table;
	padding-right: 50px;
}

.nav-li {
	display: inline;
	text-decoration: none;
	padding: 5px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	color: #000000;
}

button, nav a {
	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	letter-spacing: 0.2em;
}

button:hover, nav a:hover {
	color: #30BB34;
}

/*The button for the congrats modal*/
#congrats {
	display: none;
}

/*The timer*/
#timer {
	text-align: center;
	display: none;
}

/*Modals - code amended from https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
	text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 3em;
	margin: -10px 5px 0px 0px;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Modal content*/
h3 {
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#reset-content, #hard-reset, #cancel, #start-content {
	text-align: center;
	align-items: center;
}

/*How to play modal*/
#htp-list {
	margin: 10px 40px 30px 40px;
}

#htp-list {
	list-style-position: inside;
}

/*ol number styling from an answer on stack overflow: https://stackoverflow.com/questions/23610151/can-you-style-ordered-list-numbers*/
ol {
	padding-inline-start: 0px;
	list-style: none;
	counter-reset: item;
}

ol li {
	counter-increment: item;
	margin-bottom: 5px;
}

ol li:before {
	margin: 10px;
	content: counter(item);
	color: white;
	background: black;
	border-radius: 100%;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}

/*start modal*/
#make-selection {
	color: red;
	font-weight: 600;
}

#start-button {
	font-size: 1.5em;
	font-weight: 900;
	border: 2px solid black;
	border-radius: 40px;
	padding: 10px 20px;
	margin-bottom: 30px;
}

#start-button:hover {
	border: 2px solid #30bb34;
}

/*reset modal*/
#cancel {
	margin: 20px 0px;
}

#hard-reset {
	margin-top: 10px;
}

/*Congrats modal*/
#congrats-reset {
	font-size: 1.5em;
	font-weight: 900;
	border: 2px solid black;
	border-radius: 40px;
	padding: 10px 20px;
	margin-bottom: 30px;
}

#congrats-reset:hover {
	border: 2px solid #30bb34;
}

/*Site background*/
#placeholder {
	background-image: url("../images/Doodle-Tile-opacity.jpg");
	min-height: 50vh;
	width: 100%;
}
main {
	
	padding: 50px;
	/*Sets the #game-board div to the centre of the page*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/Doodle-Tile-opacity.jpg");
}

/*The cards*/
.grid {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0px;
    padding: 30px;
	background-color: white;
}

.card {
	position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
	display: block;
}

.card, .back, .front {
    height: 184px;
    width: 133px;
	box-sizing: border-box;
	border: 1px solid black;
}

.back, .front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: url('../images/Deck.jpg') no-repeat center center /
    contain;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
	border: 1px solid black;
	transform: rotateY(180deg);
	/*-webkit-transform-style: flat;*/
}

.match {
	border: none !important;
    background-image: none !important;
}

.match .front  {
	background: white !important;
	border: none !important;
}

/*Footer*/
footer {
	font-size: 0.7em;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.social-logos {
	width: 2vw;
}

footer a {
	text-decoration: none;
	color: black;
}


/*Mobile Device CSS*/

@media only screen and (max-width: 991px) {
	.nav-title {
		font-size: 2em;
	}
	
	.nav-li {
		display:block;
	}
	
	.modal-content {
		padding: 0px 10px;
	}
}

@media only screen and (max-width: 740px) {
	.grid {
		max-width: 550px;
	}
	
	.card, .front, .back {
		width: 100px;
		height: 138px;
	}
}
@media only screen and (max-width: 620px) {
	.grid {
		max-width: 400px;
	}
	
	.card, .front, .back {
		width: 80px;
		height: 112px;
	}
}

@media only screen and (max-width: 550px) {
	main {
		padding: 25px;
	}
	
	.grid {
		max-width: 290px;
		padding: 15px;
	}
	
	.card, .front, .back {
		width: 50px;
		height: 70px;
	}
}

@media only screen and (max-width: 500px) {
	.social-logos {
        width: 4vw;
    }
}

@media only screen and (max-width: 360px) {
	main {
		padding: 15px;
	}
	.grid {
		max-width: 250px;
		padding: 5px;
	}
	
	.card, .front, .back {
		width: 40px;
		height: 56px;
	}
}