@charset "UTF-8";
/* CSS Document */

/*Body*/
body {
	/*Font from https://www.cdnfonts.com/happy-doodle.font*/
	font-family: 'HAPPY DOODLE', sans-serif;
}
                                                
/*Nav*/
#nav-div {
	text-align: center;
}

.nav-title {
	font-size: 3em;
	margin: 30px 0 0 0;
	letter-spacing: 0.3em;
}

.nav-items {
	list-style-type: none;
	display: inline-table;
	letter-spacing: 0.2em;
	padding-right: 50px;
}

.nav-li {
	display: inline;
	text-decoration: none;
	padding: 5px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	color: #000000;
}

nav a:hover {
	color: #30BB34;
}

a:visited {
	color: #000000;
}

.active {
	color: #30BB34;
}

/*Main content*/
main {
	background-image: url("../images/Doodle-Tile-opacity.jpg");
	padding: 50px;
}

/*Game Board*/
#game-board {
	background-color: white;
}

/*Mobile Device CSS*/
@media only screen and (max-width: 991px) {
	.nav-title {
		font-size: 2em;
	}
	
	.nav-li {
		display:block;
	}
}