@charset "UTF-8";
/* CSS Document */

/*Body*/
body {
	/*Font from https://www.cdnfonts.com/happy-doodle.font*/
	font-family: 'HAPPY DOODLE', sans-serif;
	letter-spacing: 0.2em;
}
                                                
/*Nav*/
#nav-div {
	text-align: center;
}

.nav-title {
	font-size: 3em;
	margin: 30px 0 0 0;
	letter-spacing: 0.3em;
}

.nav-items {
	list-style-type: none;
	display: inline-table;
	padding-right: 50px;
}

.nav-li {
	display: inline;
	text-decoration: none;
	padding: 5px;
}

nav a {
	text-decoration: none;
	padding: 10px;
	color: #000000;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	letter-spacing: 0.2em;
}

button:hover {
	color: #30BB34;
}

/*Modals - code amended from https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
	text-align: center;
}

/* The Close Button */
#htp-close, #pm-close, #reset-close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
	margin: 3px 5px 0px 0px;
}

#htp-close:hover, #pm-close:hover, #reset-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Modal content*/
#reset-title, #pm-title, #htp-title {
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

#reset-content, #hard-reset, #cancel, #pm-content {
	text-align: center;
	align-items: center;
}

#htp-list, #ridic-expl {
	margin: 10px 40px 30px 40px;
}

#cancel {
	margin-bottom: 20px;
}

.play-mode-button {
	text-align: center;
	align-items: center;
	padding: 10px 30px;
	margin: 5px;
	font-size: 1.2em;
}

#ridiculous-p {
	font-size: 1.2em;
	margin: 5px;
}

.play-mode-button:focus {
	border: 1px solid #30BB34;
	border-radius: 40px;
}

#htp-list {
	list-style-position: inside;
}

/*ol number styling from an answer on stack overflow: https://stackoverflow.com/questions/23610151/can-you-style-ordered-list-numbers*/
ol {
	list-style: none;
	counter-reset: item;
}

ol li {
	counter-increment: item;
	margin-bottom: 5px;
}

ol li:before {
	margin: 10px;
	content: counter(item);
	color: white;
	background: black;
	border-radius: 100%;
	width: 1.2em;
	text-align: center;
	display: inline-block;
}

/*Main content*/
main {
	background-image: url("../images/Doodle-Tile-opacity.jpg");
	padding: 50px;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
}

/*Game Board*/
#game-board {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.deck {
	flex: 2 0 21%;
	justify-content: center;
	align-items: center;
}

.card{
	list-style-type: none;
	display: inline-table;
	margin: 2%;
}

.card-item {
	/*height: 142px;
	width: 110px;*/
	width: 7vw;
	border: 1px solid #000000;
	box-shadow: 6px 4px 5px 1px #d6d6d6;
}

/*Footer*/
footer a {
	text-decoration: none;
	color: black;
	font-size: 0.7em;
}

/*Mobile Device CSS*/
@media only screen and (max-width: 991px) {
	.nav-title {
		font-size: 2em;
	}
	
	.nav-li {
		display:block;
	}
	/*
	.card-item {
        height: 110px;
        width: 85px;
        border: 1px solid #000000;
        box-shadow: 6px 4px 5px 1px #d6d6d6;
        margin: 15px;
    }*/
}
/*
@media only screen and (max-width: 700px) {
	#game-board {
		width: 95vw;
	}
	
	main {
		padding: 5%;
	}
}*/
/*
@media only screen and (max-width: 399px) {
	#game-board {
		width: 95vw;
	}
	
	.deck {
		padding: 0;
		margin: 0;
	}
}*/